<div class="jumbotron">
    <h1 class="display-3">Bienvenido!</h1>
    <p class="lead">Esta es una página web realizada a modo de prueba para aplicar los conocimientos adquiridos durante la capacitación sobre Front End.</p>
    <hr class="my-4">
    <p>Para acceder a la página debes ingresar con una cuenta.</p>
    <p class="lead">
        <a routerLink="login"><button class="btn btn-success btn-lg" role="button">Ingresar</button></a>
        <a routerLink="register"><button class="btn btn-primary btn-lg" role="button">Registrarme</button></a>
    </p>
</div>