<div class="container-fluid col-md-11">
  <form>
    <div class="form-group">
      <div class="form-group row">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <input class="form-control col-sm-3" type="text" id="nombre">
        <label class="control-label col-sm-2" for="apellido">Apellido:</label>
        <input class="form-control col-sm-3" type="text" id="apellido">
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <input class="form-control col-sm-3" type="email" id="email">
        <label class="control-label col-sm-2" for="usuario">Usuario:</label>
        <input class="form-control col-sm-3" type="text" id="usuario">
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="contraseña">Contraseña:</label>
        <input class="form-control col-sm-3" type="password" id="contraseña">
        <label class="control-label col-sm-2" for="confContraseña">Confirmar contraseña:</label>
        <input class="form-control col-sm-3" type="password" id="confContraseña">
      </div>
      <button type="submit" class="btn btn-success">Registrarme</button>
    </div>
  </form>
</div>