<div class="container-fluid">
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th *ngFor="let head of headers">{{head.value}}</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let r of row; let i = index">
                <span *ngIf="headers[i].type === 'currency'">{{r | currPipe}}</span>
                <span *ngIf="headers[i].type === 'text' || r === '-'">{{r}}</span>
                <span *ngIf="headers[i].type === 'list' && r !== '-'">
                    <ul>
                        <li *ngFor="let val of r">{{val}}</li>
                    </ul>
                </span>
                <!-- TODO: agregar desplegable para menu, secciones y ofertas-->
            </td>
            <td>
                <!-- TODO: consultar como pasar la clase y el id para la ruta parametrizada (seguramente sea con ng model) -->
                <a href="#" class="btn btn-info">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
    </tbody>
    </table>
</div>