<br>
<div class="container-fluid" *ngIf="entity">
    <a [routerLink]="['crear']" class="btn btn-success">Crear</a>
    <br>
    <br>
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th *ngFor="let header of entity.headerValues">{{header}}</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of entity.rows; let ind = index">
            <td *ngFor="let r of row; let i = index">
                <span *ngIf="entity.headerTypes[i] === 'currency'">{{r | currPipe}}</span>
                <span *ngIf="entity.headerTypes[i] === 'text' || r === '-'">{{r}}</span>
                <span *ngIf="entity.headerTypes[i] === 'list' && r.value !== '-'">
                    <ul>
                        <span *ngFor="let val of r">
                            <li *ngIf="val.checked">{{val.value}}</li>
                        </span>
                    </ul>
                </span>
            </td>
            <td>
                <a [routerLink]="['editar', entity.ids[ind]]" class="btn btn-info">Editar</a>
                <a [routerLink]="['eliminar', entity.ids[ind]]" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
    </table>
</div>