<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
            <img src="/assets/brand.png" alt="brand" width="50" height="50">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/listado/articulos">Articulos</a>
            <a class="nav-item nav-link" routerLink="/listado/jornadas">Jornadas</a>
            <a class="nav-item nav-link" routerLink="/listado/menus">Men&uacute;s</a>
            <a class="nav-item nav-link" routerLink="/listado/repartidores">Repartidores</a>
            <a class="nav-item nav-link" routerLink="/listado/restricciones">Restricciones</a>
            <a class="nav-item nav-link" routerLink="/listado/secciones">Secciones</a>
            <a class="nav-item nav-link" routerLink="/listado/turnos">Turnos</a>
            <a class="nav-item nav-link" routerLink="/listado/usuarios">Usuarios</a>
        </div>
        <div class="ml-auto">
            <span class="text-muted"><strong>{{user.apellido}}, {{user.nombre}}</strong></span>&nbsp;
            <button class="btn btn-secondary" (click)="logout()">Salir</button>
        </div>
    </div>
</nav>