<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="https://www.shareicon.net/data/256x256/2015/12/31/225979_horde_256x256.png" alt="" width="50" height="50">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/articulos">Articulos</a>
            <a class="nav-item nav-link" href="/jornadas">Jornadas</a>
            <a class="nav-item nav-link" href="/menus">Men&uacute;s</a>
            <a class="nav-item nav-link" href="/ofertas">Ofertas</a>
            <a class="nav-item nav-link" href="/repartidores">Repartidores</a>
            <a class="nav-item nav-link" href="/restricciones">Restricciones</a>
            <a class="nav-item nav-link" href="/secciones">Secciones</a>
            <a class="nav-item nav-link" href="/turnos">Turnos</a>
            <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
        </div>
    </div>
</nav>